@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {

    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;

}

button{
    cursor: pointer;
}
.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #431d61;
    background: url(../assets/bg1.png) no-repeat center fixed;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 3;
    padding: 20px;
}

.logo {
    flex: 1;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
}

.btns {
    flex: 1;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    flex: 1;
    padding: 10px;
    background-color: rgba(237, 226, 255, 0.63);
    border-radius: 10px;
    box-shadow: 0px 3px 8px #57575745;

}

li {
    margin: 10px 0px 0px 10px;
}

.links ul {
    list-style: none;
    color: black;
    text-decoration: none;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: auto;
    margin: 0;
    padding: 0;

}

.links ul li {
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

.links ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    transition: all 0.2s;
}

.links ul li a:hover {
    font-weight: bold;
    border-bottom: 3px solid black;
}

.logo h2 {
    /* font-family: 'Sansita Swashed', cursive; */
    font-family: 'Staatliches', cursive;
    color: #893dc9;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0;
}

.btns button {
    background: none;
    border: solid 1px;
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
}

#signup {
    background: #893dc9;
    color: white;
    border: none;
}

.heading {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 150px;
    height: 50%;
    width: 50%;
    left: 100px;
    position: absolute;
}

.heading h1 {
    margin-top: 80px;
    color: black;
    width: 900px;
    font-size: 70px;
    text-align: left;
    font-family: 'Fredoka', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: left;
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
}

.outer {
    flex-direction: column;
    height: 70%;
    width: 80%;
}

.image {
    height: 56%;
    width: 65%;
    position: absolute;
    bottom: 45px;
    right: 65px;
}

.description {
    margin-top: -50px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}


.search_car_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: row;
    width: 60%;
    padding: 10px 30px 10px 30px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 20px 20px 7px #cfcfcf45;
    border-radius: 15px;

}


#pickup_loc, #pickup_date, #return_loc, #return_date {
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    font-weight: bolder;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

input {
    padding: 12px;
    margin-top: 3px;
    border: solid .5px #431d61;
    border-radius: 10px;
}

.main2 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90vh;
    /* background-color: #ecd4ffc5; */
    /* background: url(../assets/bg1.png) no-repeat center fixed; */
}

.heading1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 100%;
    /* position: absolute; */
}

.heading1 h1 {
    color: black;
    font-size: 50px;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50%;
    width: 100%;
}

.card {
    height: 340px;
    width: 320px;
    margin: 20px;
    /* background-color: #57575745; */
    border-radius: 10px;
}

.icon {
    height: 40%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
    color: rgb(71, 71, 71);
    text-align: center;
    width: 100%;
    height: 13%;
}

.title h2 {
    font-weight: 10px;
}

.sub_title {
    font-weight: bold;
    padding: 15px 10px 5px 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.card:hover {
    box-shadow: 0px 20px 20px #0000001f;
    transition: all .2s;
}

.main2 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90vh;
    /* background-color: #ecd4ffc5; */
    /* background: url(../assets/bg1.png) no-repeat center fixed; */
}

.main3 {
    /* margin-top: -100px; */
    padding: 0;
    width: 100%;
    height: 90vh;
    /* background-color: #ecd4ffc5; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    /* background: url(../assets/bg1.png) no-repeat center fixed; */
}


.main3 .book_car_bar {
    /* margin: 100px 0px 0px 0px; */
    width: 80%;
    height: 100px;
    /* background-color: #765096c5; */
    display: flex;
}

.main3 .book_car_bar .title, .main3 .book_car_bar .dropdown_options {
    height: 100%;
    /* width: 50%; */
    margin: 0px 3px 0px 3px;
    /* background-color: rgb(143, 95, 95); */
}

.main3 .book_car_bar .title {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main3 .book_car_bar .title h2 {
    font-size: 25px;
    font-family: 'Fredoka', sans-serif;
    color: rgb(71, 71, 71);
    text-align: center;
}

.main3 .book_car_bar .dropdown_options {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdown_options select {
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    background-color: white;
    border-radius: 8px;
}

.cars {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    width: 100%;
}

.car_name {

    /* background: #ca98ebc2; */
    height: 12%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    text-align: left;
}

.car_name h2{
    font-family: 'Fredoka', sans-serif;
    padding-left: 30px;
}

.car_photo {
    /* background: #4235351f; */
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car_price {
    text-align: left;
    padding-left: 30px;
    margin-top: -10px;
    height: 10%;
    /* background: #6b36361f; */
    width: 85%;
    font-family: 'Raleway', sans-serif;

}

.car_specs {
    height: 23%;
    width: 100%;
    /* background: #9e25251f; */
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#prop{
    justify-content: center;
    align-items: center;
    display: flex;
}

#icon {
    height: 42px;
    width: 42px;
    background-color: rgba(203, 154, 250, 0.514);
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
}


.driverDP{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 7px;
    margin-left: 20px;
}

.profile{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3px 8px #57575745;
    font-family: "Roboto Light", sans-serif;
}

.profile_name{
    display: flex;
    align-items: center;
}

.profile_name span{
    font-weight: bold;
    color: #8a8a8a;
}

.profile_top{
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile_contact{
  display: flex;
}

.call_btn{
    background: #22C55E;
    padding: 6px 20px;
    border: 1px solid #1dad52;
    color: white;
    border-radius: 50px;
    display: flex;
    outline: 0;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.chat_btn{
    background: transparent;
    padding: 6px 20px;
    border: 1px solid #1dad52;
    color: #22C55E;
    border-radius: 50px;
    display: flex;
    outline: 0;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.profile_bottom{
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
}


.profile_img{
    background-color: #b4b4b4;
    border-radius: 50px;
    padding: 10px;
    margin-right: 20px;
}

.profile_img img{
    width: 50px;
    height: 50px;
}